<h2>Ny frukt</h2>

<form action="/fruits" method="post">
	<label>Frukt <input type="text" name="fruit_name"></label>
	<label>Beskrivning <input type="text" name="fruit_description"></label>
	<input type="submit" value="Spara">
</form>
