<!--<blockquote>Todo: Visa all information on frukten (med ID från URLen).</blockquote>-->
<h2>Mer info om: <%= @fruit['name'].capitalize %></h2>

<p><em>Smakpoäng: </em> <%= @fruit['tastiness'] %></p>
<p><em>Beskrivning: </em> <%= @fruit['description'] %></p>

